/* CSS Code: Header */

.header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB
}

ul {
    list-style-type: none;
}

.small-text {
    font-size: 18px;
    color: #E5E7EB;
}

.large-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8
}

.sign-up-button {
    background-color: #3882F6;
}

/* Image goes here */


/* ~~~~~~~~~~~~~~~~~~~~ */




/* CSS Code: First Body Section */

.body-section {

}

.medium-text {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

/* Four Images go here */

.small-text-black {
    font-size: 18px;
    color: black;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */




/* CSS Code: Second Body Section */

.second-body-section {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
}

.influencer-quote-text {
    color: #1F2937;
}

/* ~~~~~~~~~~~~~~~~~~~~~ */




/* CSS Code: Third Body Section */

.third-body-section {

}


/* Needs container surrounding the sign up text, small text, and button */

.container {
    background-color: #3882F6;
}

.sign-up-text {
    font-size: 24px;
    color: #F9FAF8;

}

/* No need for small text declaration again :) */

.other-sign-up-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: 1px solid white;
}

/* ~~~~~~~~~~~~~~~~~~~~ */




/* CSS Code: Footer */

.footer {
    background-color: #1F2937;
}


/* No need for small text declaration again :) */

/*~~~~~~~~~~~~~~~~~~~~~ */